.App {
  background: #eff0e6;
  width: 100vw;
  min-height: 100vh;
  margin: 0;
  top: 0;
  left: 0;
  position: absolute;
  overflow: hidden;         /* Hide all overflows */
  scrollbar-width: none;    /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

/* Chrome, Safari, and Opera */
.App::-webkit-scrollbar {
  display: none;
}
